<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg|%>
    <%= msg %>
  <% end %>
<% end %>
<%= form_with(model: @user, local: true, url: new_or_edit) do |form|%>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, value: @user.name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email, value: @user.email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.text_field :password, value: @user.password %>
  </div>
  <%= form.submit "登録" %>
<% end %>
